.main-checkbox{
    margin: 0.5px;
    padding: 20px 12px;
    border: 1px solid rgba(139, 87, 87, 0.575);

}

.all-checkbox{
    font-size: 16px ;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    color: black;
    border-bottom: 1px solid rgb(211, 167, 167);
    font-weight: 700;

}

.checkbox{
    padding: 10px 0;
    border-bottom: 1px solid rgb(211, 167, 167);
}

.checkbox li{
    list-style-type: none;
    color: rgb(34, 13, 13);
    font-weight: 400;
}