 <footer>
    <div class="footer-container1">
      <div class="section1">
        <div class="about" >
          ABOUT
          <a href="#">
            <li>Contact US</li>
          </a>
          <a href="#">
            <li>About US</li>
          </a>
          <a href="#">
            <li>CareerS</li>
          </a>
          <a href="#">
            <li>Flipkart Stories</li>
          </a>
          <a href="#">
            <li>Press</li>
          </a>
          <a href="#">
            <li>Flipkart Wholesale</li>
          </a>
          <a href="#">
            <li>Corporate</li>
          </a>
        </div>
        <div class="help">
          HELP
          <a href="#">
            <li>Payments</li>
          </a>
          <a href="#">
            <li>Shipping</li>
          </a>
          <a href="#">
            <li>Cancellation & Returns</li>
          </a>
          <a href="#">
            <li>FAQ</li>
          </a>
          <a href="#">
            <li>Report Infringment</li>
          </a>
        </div>
        <div class="policy">
          POLICY
          <a href="#">
            <li>Return Ploicy</li>
          </a>
          <a href="#">
            <li>Term Of Use</li>
          </a>
          <a href="#">
            <li>Security</li>
          </a>
          <a href="#">
            <li>Privacy</li>
          </a>
          <a href="#">
            <li>sitemap</li>
          </a>
          <a href="#">
            <li>Epr Compliance</li>
          </a>
        </div>
        <div class="social">
          SOCIAL
          <a href="#">
            <li>Facebook</li>
          </a>
          <a href="#">
            <li>Twitter</li>
          </a>
          <a href="#">
            <li>Youtube</li>
          </a>
        </div>
      </div>
      <div class="section2">
        <div class="address1">
          Mail Us
          <li>
            Flipkart Internet Private Limited, Buildings Alyssa, Begonia &
            Clove Embassy Tech Village, Outer Ring Road, Devarabeesanahalli
            Village, Bengaluru, 560103, Karnataka, India
          </li>
        </div>
        <div class="address2">
          Office Address
          <li>
            Flipkart Internet Private Limited, Buildings Alyssa, Begonia &
            Clove Embassy Tech Village, Outer Ring Road, Devarabeesanahalli
            Village, Bengaluru, 560103, Karnataka, India
          </li>
        </div>
      </div>
    </div>
    <div class="footer-container2" style="height: 50px;">
      <div class="icons">
        <i class="bi bi-bag-fill"></i>
        Sell on flipkart
      </div>
      <div class="icons">
        <i class="bi bi-file-plus-fill"></i>
        Advertise
      </div>
      <div class="icons">
        <i class="bi bi-gift-fill"></i>
        gift card
      </div>
      <div class="icons">
        <i class="bi bi-question-circle-fill"></i>
        Help center
      </div>
      <div class="icons">
        &copy;
        Flipkart 2020-2021
      </div>
      <div class="icons">
        <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/payment-method_69e7ec.svg" alt="">
      </div>
    </div>
  </footer>


  